* {
	margin: 0;
	padding: 0;
	border: 0;
}

.web-wrapper {
	margin-top: 50px;
}

.main-thumbnail > div {
	padding: 0;
}

.secondary-thumbnail > div{
	padding: 0;
}

.main-thumbnail > div > img {
	height: 330px;
	width: 100%;
}
.secondary-thumbnail > div > img {
	height: 150px;
	width:100%;
}

.one-third {
	margin: 40px 0;
}

.movies-form {
  margin: 40px 0;
}

footer{
  color: white;
}
footer a{
  color: #bfffff;
}
footer a:hover{
  color: white;
}

.footer-bottom{
  background: #3d6277;
  padding: 2em;
}
.footer-top{
  background: #2d4958;  
}
.footer-middle{
   background: #3d6277;
  padding-top: 2em;
  color: white;
}
/**Sub Navigation**/
.subnavigation-container{
  background: #3d6277;
}
.subnavigation .nav-link{
  color: white;
  font-weight: bold;
}
.subnavigation-container{
  text-align: center;
}
.subnavigation-container .navbar{
  display: inline-block;
  margin-bottom: -6px; /* Inline-block margin offffset HACK -Gilron */
}
.col-subnav a{
  padding: 1rem 1rem;
  color: white;
  font-weight: bold;
}
.col-subnav .active{
  border-top:5px solid orange;
 background: white;
  color: black;
}